.HomeGlobalContainer {
  display: flex;
  height: 100vh;
  background-color: #ff9441;
}
.HomeContentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 45rem;
  height: 35rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
}
.HomeImg {
  position: absolute;
  text-align: center;
  margin-bottom: 28rem;
  margin-left: 18rem;
}
.HomeImg img {
  width: 8rem;
  height: 8rem;
}
.Message {
  text-align: center;
  margin-left: 12rem;
  max-width: 40%;
}
.TextStar {
  color: #FF9441;
}
.HomeButtonBox {
  position: absolute;
  text-align: center;
  margin-left: 18rem;
  margin-top: 30rem;
}
.HomeButtonBox button {
  border-radius: 0.3rem;
  padding: 0.7rem 2rem;
  background-color: #1093c6;
  color: #fff;
  border: none;
  transition: all 0.8s;
}
.HomeButtonBox button:hover {
  cursor: pointer;
  background-color: #08516e;
}
