.ResultGlobalContent{
    display: flex;
    height: 100vh;
    background-color: #EE8329;
}
.ResultTextButton{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}
.ResultImg img{
    width: 35rem;
}

